body{
    background-color: rgb(221, 225, 247);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4, p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
strong{
    background-color: rgb(171, 222, 235);
    color:blue;
    font-style: oblique;
    font-weight: 650;
}
.tec{
    width: 400px;
    height: 28px;
    font-size: 16px;
    text-decoration: wavy;
    background-color: rgb(145, 167, 199);
}
.mus{
    background-color: rgb(129, 147, 167);
    height: 28px;
    font-size: 16px;
    text-decoration: wavy;
    width: 400px;
}
/*Header*/
#nome{
    text-align: center;
}
/*fim Header */
#bloc{
    width: 90%;
    height: 410px;
    background-color: rgb(rgb(146, 24, 24), rgb(163, 228, 163), rgb(163, 163, 241));
}
#foto{
    position: relative;
    height: 200px;    
    background-color: azure;
    padding: 30px;
    display: inline;
    float: left;
    left: 10%;
}
#des{
    position: relative;
    display: inline-block;
    width: 35%;
    left: 40%;
}
.impar{
    margin: 10px;
    padding: 5px;
}
ul{
    list-style: none;
}
#sec{
    margin:5px;
    line-height: 0.8em;
}
.lid{
    margin:6px;
    padding:6px;
    display: inline;
}
#secoes h2{
    position: relative;
    left: 0%;
    text-align: center;
}
#secoes{
    border-bottom: 1px  solid black;
}
#secoes ul{
    position: relative;
    left: 35%;
}
#habd{
    width: 100%;
    text-align:center;
    border-bottom: 1px solid black;
}
#habd h4{
    position: relative;
    text-align: center;
}
#hab {
    position: relative;
    left: 30%;
}