body{
    background-color: rgb(221, 225, 247);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
strong{
    background-color: rgb(171, 222, 235);
    color:blue;
    font-style: oblique;
    font-weight: 650;
}
.tec{
    width: 400px;
    height: 28px;
    font-size: 16px;
    text-decoration: wavy;
    background-color: rgb(145, 167, 199);
}
.mus{
    background-color: rgb(129, 147, 167);
    height: 23px;
    font-size: 15px;
    text-decoration: wavy;
    width: 300px;
}
#nome{
    text-align: center;
}
#bloc{
    width: 600px;
    height: 410px;
    background-color: rgb(rgb(146, 24, 24), rgb(163, 228, 163), rgb(163, 163, 241));
}
#img{
    float: left;
    background-color: azure;
    padding: 30px;
}
#des{
    float: right;
    width: 250px;
}
.impar{
    margin: 10px;
    padding: 5px;
}
ul{
    list-style: none;
}
#sec{
    margin:5px;
    line-height: 0.8em;
}
.lid{
    margin:6px;
    padding:6px;
}